*
!/.gitignore
!/.gitlab-ci.yml
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/.valet-env.php
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/etc/hyva-themes.json
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/patches
!/patches/**
!/patches.json
!/php.ini
!/project-quality.json
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
!/package.json
!grunt-config.json
!Gruntfile.js
!/dev/
!/dev/tools/
!/dev/tools/grunt/
!/dev/tools/grunt/configs/
!/dev/tools/grunt/configs/local-themes.js
