<?xml version="1.0" ?>
<!--
 /**
 * Copyright ©  All rights reserved.
 * See COPYING.txt for license details.
 * @author Serhiy Gavrylov
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="sg_comments" id="sg_comments">
			<module name="SG_Comments"/>
		</route>
	</router>
</config>
